.recommend
  .recommend__title
    h2.recommend__header Наши рекомендации

  .recommend__blog
    h3.blog-title Новая статья в блоге
    p.blog-descr Посмотрите, как чтение книг меняет восприятие человека.
    a.blog-link Читать статью

  .recommend__book
    h3.recommend__book-title Книга осени!
    p.recommend__book-descr Проголосуй за лучшую книгу этой осени

  .recommend__photo
    h3.recommend__photo-book-title Наши подборки ваших лучших фотографий у нас

  .recommend__opinion
    h3.recommend__opinion-title Нам важно ваше мнение!
    p.recommend__opinion-descr Ставьте пальцы вверх , мы  хотим знать ваше мнение
    a.btn Проголосовать

  .recommend__kids
    h3.recommend__kids-title Книги для детей
    p.recommend__kids-descr У нас появился новый раздел, в котором мы подбираем книги для юных читателей

  .recommend__oldbook
    h3.recommend__oldbook-title У вас еcть старые книги?
    p.recommend__oldbook-descr Приносите их нам и обменяйте на новые.

  .recommend__present
    h3.recommend__present-title Книга в подарок!
    p.recommend__present-descr При вашем новом заказе мы подарим вам книгу

    +mini-card('Путеводитель по лжи', 'book.html', 'img/books/book-putevoditel-po-lzhi.jpg', 'Критическое мышление в эпоху постправды')
