.slider {
  margin: 50px auto 0;
  max-width: 1160px;
  height: 444px;

  &__item {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1040px;
  }

  &__description {
    @media (max-width: 1140px) {
      width: 100%;
      margin: 0 auto;
    }
  }

  &__news {
    margin: 0 0 40px 0;
    padding-left: 30px;
    max-width: 330px;
    font-size: $font-size;
    line-height: 24px;
    font-style: italic;

    @media (max-width: 1140px) {
      padding-left: 0;
      margin: 0 20px 40px;
    }

    @media (max-width: $screen-xs) {
      font-size: $font-size;
      padding-left: 0;
      padding-right: 10px;
      margin: 0 20px 40px;
    }
  }

  &__item-text {
    // content: '';
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 0;
    padding: 0 0 45px 30px;
    border: 8px solid $gray-lighten;

    @media (max-width: 1140px) {
      margin: 0 20px 0;
    }

    @media (max-width: $screen-sm) {
      margin: 0 20px 0;
      padding: 20px 0 25px 9px;
    }

    @media (max-width: $screen-xs) {
      margin: 0 20px 0;
    }
  }

  &__title {
    position: relative;
    z-index: 2;
    width: 550px;
    margin: 40px 20px 40px 0;
    // margin-right: -20%;
    font-size: $font-size-xxl;
    font-weight: $font-weight-bd;

    @media (max-width: $screen-md) {
      margin-right: 0;
      margin-left: 0;
    }


    @media (max-width: $screen-sm) {
      margin: 10px 5px 13px 0;
      font-size: $font-size-md;
    }


    @media (max-width: $screen-xs) {
      width: fit-content;
      margin: 0 5px 13px 0;
    }
  }

  &__link {
    color: $link-color;
    font-size: $font-size;

    @media (max-width: $screen-xs) {
      font-size: $font-size;
    }
  }

  &__img-wrap {
    margin: 20px 70px 0 0;
    width: 302px;
    height: 423px;

    @media (max-width: 1140px) {
      display: none;
    }
  }

  &__item-img {
        // display: flex;
    // align-items: flex-end;
    width: 302px;
    height: auto;
  }

  &__arrow-wrapper {
    position: relative;
    // display: flex;
    // justify-content: space-between;
    // margin: 0, auto;
    // max-width: 1200px;
    // top: 50%;
  }

  &__arrow {
    // z-index: 3;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    // top: 50%;
    background-color: $pink-base;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
    transition: all 0.3s;

    @media (min-width: $screen-lg) {
      // max-width: 1280px;
    }

    @media (min-width: $screen-sm) {
      position: absolute;
      // z-index: 2;
      // top: -250px;
      display: inline-block;
      vertical-align: middle;
      border: none;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      transform: translateY(-50%);
      background-color: $pink-base;
      cursor: pointer;
      user-select: none;
      transition: all 0.3s;
    }

    &:hover,
    &:focus {
      background-color: $pink-dark;
      border-color: $white-color;

      &:before {
        border-color: $white-color;
      }
    }

    &_pref {
      padding: 0;
      left: 0;
      top: -200px;

      &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 16px;
        width: 10px;
        height: 10px;
        border-top: 1px solid $pink-dark;
        border-left: 1px solid $pink-dark;
        transform: rotate(-45deg);
      }
    }

    &_next {
      padding: 0;
      right: 0;
      top: -200px;

      &:before {
        content: '';
        position: absolute;
        top: 15px;
        left: 12px;
        width: 10px;
        height: 10px;
        border-top: 1px solid $pink-dark;
        border-right: 1px solid $pink-dark;
        transform: rotate(45deg);
      }
    }
  }
}
