section.slider
  .slider__inner
    .slider__container
      .slider__item
        .slider__description
          p.slider__news Новое поступление книги "Симпсоны и их математические секреты"
          .slider__item-text
            h2.slider__title Для поклонников сериала "Симпсоны" и для всех, кому интересна математика
            a.slider__link(href='') Хочу узнать о книге больше
        .slider__img-wrap
          img.slider__item-img(src='img/books/book-simpsony-i-ih-matematicheskie-sekrety.jpg', alt='')
      .slider__arrow-wrapper
        button.slider__arrow.slider__arrow_pref
        button.slider__arrow.slider__arrow_next

      //- .slider__item
      //-   .slider__description
      //-     p.slider__news Новое поступление книги "Симпсоны и их математические секреты"
      //-     .slider__item-text
      //-       h2.slider__title Для поклонников сериала "Симпсоны" и для всех, кому интересна математика
      //-       a.slider__link(href='') Хочу узнать о книге больше
      //-   .slider__img-wrap
      //-     img.slider__item-img(src='img/books/books/45-tatuirovok-prodavana.jpg', alt='')
      //- .slider__item
      //-   .slider__description
      //-     p.slider__news Новое поступление книги "Симпсоны и их математические секреты"
      //-     .slider__item-text
      //-       h2.slider__title Для поклонников сериала "Симпсоны" и для всех, кому интересна математика
      //-       a.slider__link(href='') Хочу узнать о книге больше
      //-   .slider__img-wrap
      //-     img.slider__item-img(src='img/books/pyataya-distsiplina.jpg', alt='')

//- .slider
//-   .slider__item
//-     .slider__container
//-       mixin slider(text, descr, more, imgUrl)
//-        article.slider
//-          p.slider__text= text
//-          h2.slider__descr= descr
//-          a.slider__more(href=url)
//-          img.slider(src= imgUrl, alt='')
