.pagination
  .pagination__block
    ul.pagination__block-list
      li.pagination__block-item.pagination__block-item--active
        a.pagination__block-link(href='/') 1
      li.pagination__block-item
        a.pagination__block-link(href='/') 2
      li.pagination__block-item
        a.pagination__block-link(href='/') 3
      li.pagination__block-item
        a.pagination__block-link(href='/') 4
      li.pagination__block-item
        a.pagination__block-link(href='/') 5
      li.pagination__block-item
        span.pagination__block-link(href='/') ...
      li.pagination__block-item
        a.pagination__block-link(href='/') 10
