.pagination {
  width: 100%;

  &__block {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 60px;

    @media (max-width: $screen-sm) {
      max-width: $screen-sm;
    }

    @media (max-width: $screen-xs) {
      max-width: $screen-xs;
    }
  }

  &__block-list {
    display: flex;
    padding: 0;
    list-style: none;
  }

  &__block-link {
    margin-right: 20px;
    position: relative;
    font-size: $font-size;
    // font-weight: $font-weight-bd;
    color: $black-color;
    font-weight: bold;;

    &:before {
      content: '';
      position: absolute;
      left: -9px;
      bottom: -5px;
      z-index: -5;
      display: none;
      color: $pink;
      background-color: $pink-base;
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }

    &:hover:before {
      display: block;
      color: $pink;
    }

    &:active {
      color: $pink;
    }
  }
}
