.page-header {
  width: 100%;
/*   display: block; */
  background-color: $white-color;

  &__inner {
    display: flex;
    // justify-content: space-around;
    justify-content: space-between;
    // align-content: center;
    box-sizing: border-box;
    height: 50px;
    max-width: 1280px;
    padding: 0 60px;
    margin:0 auto;

    @media (max-width: $screen-sm) {
      max-width: 768px;
      padding: 0 40px;
    }

    @media (max-width: $screen-xs) {
      // justify-content: space-between;
      width: 320px;
      padding: 0 30px;
    }
  }

  &__logoblock {
    display: flex;
    align-items: center;
  }

  &__logo {
    // display: flex;
    // align-self: center;
    font-size: $font-size;
    font-weight: $font-weight-bd;
    text-decoration: none;
    color: $gray-dark;
    font-weight: bold;
  }

  &__opentime {
    margin-left: 30px;
    color: $gray;
    font-size: $font-size-sm;
    font-weight: $font-weight;

    @media (max-width: $screen-xs) {
      display: none;
    }
  }

  &__mainblock {
    display: flex;
    position: relative;
    align-items: center;
  }

  &__burger {
    position: absolute;
    width: 20px;
    height: 14px;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 100;

    @media (min-width: $screen-sm) {
      display: none;
    }
  }

  &__burgerline {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #000;
  }

  &__phone {
    // display: block;
    // padding: 20px 20px;
    // margin-right: 20px;

    @media (max-width: $screen-sm) {
      display: none;
    }
  }

  &__cart {
    color: $gray-dark;
    margin-right: 30px;
    // padding: 20px 20px;
  }
}


    // // Нет макета
    // @media (min-width: $screen-md) {
    //   width: 992px;
    // }

    // @media (max-width: $screen-lg) {
    //   width: 1280px;
    //   // height: 50px;
    //   padding: 0 60px;
    //   margin:0 auto;
    // }
  // }




//   &__burger {
//     display: none;

// // появляется в телефоне и перемещается вправо
//     @media (max-width: $screen-sm) {
//       display: block;
//     }
//   }
//     // &__line {
//     //   линии бургера. или сделать иконку
//     https://codepen.io/diogo405/pen/JzBJam - меню
//     // }

//   &__phone {
//     // display: block;
//     padding: 20px 20px;
//     margin-right: 20px;

// // пропадает в телефоне
//     // @media (max-width: $screen-xs) {
//     //   display: none;
//     // }
//   }

//   &__cart {
//     color: $gray-dark;
//     margin-left: 80px;
//     padding: 20px 20px;
//     text-decoration: none;
//   }
// }
