header.page-header
  .page-header__inner
    .page-header__logoblock
      a.page-header__logo(href='/') BOOK STORE
      p.page-header__opentime с 9:00 до 19:00
    .page-header__mainblock
      nav.main-navheader
        ul.main-navheader__list
          li.main-navheader__item
            a(href='book.html') книги
          li.main-navheader__item
            a(href='recomendation.html') рекомендации
          li.main-navheader__item
            a(href='contacts.html') контакты
      burger.page-header__burger(aria-label='Показать меню')
        span.page-header__burgerline
        span.page-header__burgerline
        span.page-header__burgerline
      a.page-header__cart(href='/')
        svg(width='20', height='20')
          use(xlink:href='img/sprite.svg#cart')
      a.page-header__phone(href='tel:+78005008020')
        svg(width='20', height='20')
          use(xlink:href='img/sprite.svg#phone')
