article.biblio
  a.biblio__inner(href=url)
    img.biblio(src='', alt='')
    h2.biblio Мы открыли для вас уютную библиотеку
    p.biblio Приходите к нам по адресу Никитинская 10, каждый день с 12:00 до 18:00
