//- article.biblio
//-   a.biblio__inner(href=url)
//-     img.biblio(src='', alt='')
//-     h2.biblio Мы открыли для вас уютную библиотеку
//-     p.biblio Приходите к нам по адресу Никитинская 10, каждый день с 12:00 до 18:00

.biblio
  img.biblio__shape(src='img/books/shape.png', alt='/')
  h2.biblio__header Мы открыли для вас уютную библиотеку
  p.biblio__descr Приходите к нам по адресу Никитская 10, каждый день с 10:00 до 18:00
