//- Стандартный шаблон страницы
include ../blocks/mixins/mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body.page
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      include ../blocks/page-header/page-header.pug

    .page__content
      block content
        p Cодержимое

    .page__footer-wrapper
      include ../blocks/page-footer/page-footer.pug

    block page-bottom
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
