//- Стандартный шаблон страницы
include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')

    block meta
      title Home

    block head
      link(rel='stylesheet', href='css/style.css')
      script.
        document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

  body
    noscript У вас отключен JavaScript. Это пугает.

    .page__inner
      .page__content

        header.page-header
          .page-header__inner
            a.logo(href='index.html') Book Store
            p.open-time с 9:00 до 19:00
            nav.main-nav
              button.burger.main-nav__burger(aria-label='Показать меню') #[span]
                ul.main-nav__list
                  li.main-nav-item
                    a(href='index.html') Книги
                  li.main-nav_item.main-nav__item--active
                    a(href='recomendation.html') Рекомендации
                  li.main-nav__item
                    a(href='contacts.html') Контакты
                  li.main-nav__item.main-nav__item--phone
                    a(href='tel:+7 800 500-50-20')
                      svg(width='24', height='24')
                      span.main-nav__phone-number +7 800 500-50-20
            a.page-header__cart
              svg(width='24', height='24')

    block content

    block footer
        a.logo(href='index.html') Book Store
        p.open-time с 9:00 до 19:00
        nav.main-nav
          ul.main-nav__list
            li.main-nav-item
              a(href='index.html') Книги
            li.main-nav_item.main-nav__item--active
              a(href='recomendation.html') Рекомендации
            li.main-nav__item
              a(href='contacts.html') Контакты

    block page-bottom
      script(src='js/vendors.min.js')
      script(src='js/script.min.js')
