.tabs-contant
  .tabs-contant__block
    .tabs-contant__item
      +mini-card('Латеральная логика', 'book.html', 'img/books/book-lateralnaya-logika.jpg', 'Головоломный путь к нестандартному решению', '500p')
      +mini-card('Путеводитель по лжи', 'book.html', 'img/books/book-putevoditel-po-lzhi.jpg', 'Критическое мышление в эпоху постправды', '630 p')
      +mini-card('Дао физики', 'book.html', 'img/books/book-dao-fiziki.jpg', 'Исследование параллелей между современной физикой и восточной философией', '560 p')
      +mini-card('Не очевидно', 'book.html', 'img/books/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других', '365 p')
      +mini-card('Суперпотребители', 'book.html', 'img/books/superpotrebiteli.jpg', 'Кто это и почему они так важны для вашего бизнеса', '500p')
      +mini-card('Маркетинг в социальных сетях', 'book.html', 'img/books/marketing-v-sotsialnykh-setyakh.jpg', 'Критическое мышление в эпоху постправды', '630 p')
      +mini-card('Правильный выбор', 'book.html', 'img/books/pravilniivibor.jpg', 'Практическое руководство по принятию взвешенных решений', '560 p')
      +mini-card('Главное в истории искусств', 'book.html', 'img/books/glavnoe-v-istorii-iskusstv.jpg', 'Ключевые работы, темы, направления, техники', '365 p')

//- <article class="mini-card">
//-   <p class="mini-card__inner">
//-     <img class="mini-card__pict" src="img/books/book-lateralnaya-logika.jpg" alt="Латеральная логика">
//-       <h3 class="mini-card__title">Латеральная логика</h3>
//-         <p class="mini-card__descr">Головоломный путь к нестандартному решению
//-           <p class="mini-card__price">500p</p>
