.tabs
  ul.tabs__links
    li.tabs__link-wrap
      a.tabs__link(href='', alt='') Все
    li.tabs__link-wrap
      a.tabs__link(href='#marketing', alt='') Маркетинг
    li.tabs__link-wrap
      a.tabs__link(href='', alt='') Научпоп
    li.tabs__link-wrap
      a.tabs__link(href='', alt='') Бизнес
    li.tabs__link-wrap
      a.tabs__link(href='', alt='') Творчество
    li.tabs__link-wrap
      a.tabs__link(href='', alt='') Бизнес
