.tabs {
  display: flex;
  width: 100%;
  height: 50px;
  background: #e8e8e8;
  margin-bottom: 50px;



  a {
    text-decoration: none;
    color: #000;
  }

  &__links {
    // padding-top: 20px;
    width: 1280px;
    margin: 0 auto;
    padding: 20px 60px 0;
    // @media (min-width: $screen-sm) {
    //   padding-right: 20px;
    // }
  }

  &__link-wrap {
    position: relative;
    display: inline;
    font-size: $font-size;
    margin-right: 50px;

    // @media (min-width: $screen-sm) {
    //   margin-right: 50px;
    // }

    &_active {

      a {
        color: $link-color;
      }

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        top: 40px;
        background-color: $main-color;
      }
    }

    &:hover {
      a {
        color: $link-color;
        transition: 0.5s;
      }
    }
  }
}
