extends ../pug/layout.pug

//- -
//-  var title = 'book'

block meta
  title Книга
  meta(name='description', content='')

block content
  //- +mixin book-card(name, url1, url2, url3, imgUrl, autor, descr, numberart, numberstock, namepubl, price, description)
  .book-block
    +book-card('Суперпотребители', url1, url2, url3, imgUrl, 'Эдди Юн', 'Кто это и почему они так важны для вашего бизнеса', '1090763', '5', 'Издал', '800 р', 'В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них.')

  .book-recomendation
    if title === book
      //- include ../book-recomend.pug
      +book-recomend('Книги по тематике ', 'Больше книг по тематике')

  .biblio
    include ../blocks/biblio/biblio.pug
