extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block content
  include ../blocks/slider/slider.pug

  include ../blocks/tabs/tabs.pug

  include ../blocks/tabs-contant/tabs-contant.pug

  include ../blocks/pagination/pagination.pug

  include ../blocks/delivery/delivery.pug

  include ../blocks/book-recomend/book-recomend.pug

  //-   .pagination
  //-     span.pagination__item(href='...') 1
  //-     a.pagination__item(href='...') 2
  //-     a.pagination__item(href='...') 3
  //-     a.pagination__item(href='...') 4
  //-     a.pagination__item(href='...') 5
  //-     span.pagination__item ...
  //-     a.pagination__item(href='...') 10

  //- .delivery
  //-     h2 Доставим в любое место
  //-     p //ну почти в любое

  //-     .delivery__block
  //-       .delivery__block-item
  //-         img(src='', alt='')
  //-         p Покупайте книги на сайте в любом формате - бумажные, электронные или аудио.

  //-       .delivery__block-item
  //-         img(src='', alt='')
  //-         p Мы подарим вам "Набор читателя" и добавим в посылку.

  //-       .delivery__block-item
  //-         img(src='', alt='')
  //-         p Бесплатно доставляем заказы от 3000 рублей по всей России.

  //-       .delivery__block-item
  //-         img(src='', alt='')
  //-         p Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу бесплатно

  //- .book-recomend
  //-   +book-recomend('Наши новинки', 'Все новинки')
