footer.page-footer
  .page-footer__inner
    a.logo(href='/') BOOK STORE
    p.opentime с 9:00 до 19:00
    nav.main-nav__footer
      ul.main-nav__list
        li.main-nav__item
          a(href='book.html') книги
        li.main-nav__item.main-nav__item--active
          a(href='recomendation.html') рекомендации
        li.main-nav__item
          a(href='contacts.html') контакты
