footer.page-footer
  .page-footer__inner
    .page-footer__logoblock
      a.page-footer__logo(href='/') BOOK STORE
      p.page-footer__opentime с 9:00 до 19:00
    .page-footer__mainblock
      nav.main-navfooter
        ul.main-navfooter__list
          li.main-navfooter__item
            a(href='book.html') книги
          li.main-navfooter__item
            a(href='recomendation.html') рекомендации
          li.main-navfooter__item
            a(href='contacts.html') контакты
      .page-footer__book
        a(href='book.html') книги
