footer.page-footer
  .page-footer__inner
    a.logo(href='/') Book Store
    p.open-time с 9:00 до 19:00
    nav.main-nav.main-nav--footer
      ul.main-nav__list
        li.main-nav__item
          a(href='book.html') Книги
        li.main-nav__item.main-nav__item--active
          a(href='recomendation.html') Рекомендации
        li.main-nav__item.main-nav__item--contacts
          a(href='contacts.html') Контакты
