.contacts
  h2.contacts__title Контакты
  ul.contacts__block
    li.contacts__block-item Набережная реки Фонтанки, 202
    li.contacts__block-item с 9:00 до 19:00 ежедневно
    li.contacts__block-item +7(911) 123 45 67
