.book-block {
  box-sizing: border-box;
  width: 100%;
  margin: 40px auto 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "images"
    "info"
    "desc";

  @media (min-width: 768px) {
  max-width: 760px;
  grid-template-columns: 3fr 5fr;
  grid-column-gap: 40px;
  grid-template-areas:
    "images  header"
    "images  info"
    "desc   desc";
  }

  @media (min-width: 1200px) {
  max-width: 1160px;
  grid-template-columns: 2fr 4fr 6fr;
  grid-column-gap: 40px;
  grid-template-areas:
    "images  images  header"
    "images  images  info"
    ". desc desc";
  }

  &__images {
    grid-area: images;
    display: flex;
    flex-direction: row;
  }

  &__preview {
    padding: 10px;
    border: 4px;
    border-color: $gray-dark;
  }

  &__header {
    grid-area: header;
  }

  &__info {
    grid-area: info;

  }

  &__desc {
    grid-area: desc;
  }

  &__more-books {
    grid-area: books;
    display: flex;
    flex-direction: row;
  }

}
