$main-color:          #d7569c;
$danger-color:        #d90000;

$gray-lightest:       #f5f5f5;
$gray-lighten:        #e8e8e8;
$gray-light:          #d0d0d0;
$gray:                #a6a6a6;
$gray-dark:           #231f20;

$text-color:          #000000;
$link-color:          #1a1ff7;
$link-color-hover:    #6c73ff;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size-xl:        36px;
$font-size-lg:        30px;
$font-size-md:        24px;
$font-size:           16px;
$font-size-sm:        14px;
$line-height:         1.4;

$screen-xs:           320px;
$screen-sm:           768px;
$screen-md:           992px;
$screen-lg:           1280px;

$border-radius:       2px;
