.delivery
  .delivery__outter
    .delivery__inner-wrap
      h2.delivery__title Доставим в любое место
      p.delivery__descr // ну почти в любое
      ul.delivery__block
          li.delivery__item
            img.delivery__image(src='img/books/icon_book.png', alt='')
            p.delivery__text Покупайте книги на сайте в любимом формате - бумажные, электронные или аудио.
          li.delivery__item
            img.delivery__image(src='img/books/icon_box.png', alt='')
            p.delivery__text Мы подарим вам "Набор читателя" и добавим в посылку.
          li.delivery__item
            img.delivery__image(src='img/books/icon_delivery.png', alt='')
            p.delivery__text Бесплатно доставляем заказы от 3000 рублей по всей России.
          li.delivery__item
            img.delivery__image(src='img/books/icon_map.png', alt='')
            p.delivery__text Доставка в более чем 300 городов России, по Москве и Санкт-Петербургу бесплатно
