.delivery {
  width: 100%;
  margin-top: 140px;

  @media (max-width: $screen-sm) {
    margin-top: 60px;
  }

  @media (max-width: $screen-xs) {
    margin-top: 40px;
  }

  &__outter {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 30px;

    @media (max-width: $screen-sm) and (min-width: $screen-xs) {
      width: 100%;
      box-sizing: border-box;
      padding: 0 10px;
    }
  }

  &__inner-wrap {
    position: relative;
    box-sizing: border-box;
    padding: 40px 18px 20px 25px;
    border: 8px solid $gray-light;


    @media (max-width: $screen-sm) {
      padding: 60px 18px 20px 15px;
    }

    @media (max-width: $screen-xs) {
      padding: 40px 18px 20px 15px;
    }

    &:before {
      content: '';
      position: absolute;
      left: 5%;
      top: -8px;
      width: 31%;
      border-bottom: 8px solid $gray-lightest;
    }

    &:after {
      content: '';
      position: absolute;
      left: 36%;
      bottom: -8px;
      width: 57%;
      border-top: 8px solid $gray-lightest;
    }
  }

  &__title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: $font-size-lg;
    color: $gray-dark;

    @media (max-width: $screen-xs) {
      font-size: ($font-size) - 2;
    }
  }

  &__descr {
    font-size: $font-size;
    color: $gray-dark;
  }

  &__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 70px;


    @media (max-width: $screen-xs) {
      padding-top: 40px;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    max-width: 260px;
    margin-bottom: 50px;

    @media (max-width: $screen-xs) {
      margin-bottom: 30px;
    }
  }

  &__image {
    text-align: center;
    width: 70px;
    height: 50px;


    @media (max-width: $screen-xs) {
      width: 75px;
      height: 60px;
    }

    &--bottom {
      position: relative;
      bottom: 5px;
    }
  }

  &__item-img {
    width: 100%;
  }

  &__item-text {
    margin-bottom: 0;
    text-align: center;
    font-size: $font-size;
    // font-weight: $font-weight;
    line-height: $line-height;
    color: $gray;
  }
}
